/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  color: #333;
}

/* TÍTULO */
h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #222;
}

/* CONTAINER DA TABELA */
.table-wrapper {
  width: 90%;
  max-width: 800px;
  margin: 0 auto; 
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 0px;
  overflow-x: auto;
}

/* TABELA */
.tabela-clientes {
  width: 100%;
  border-collapse: collapse;
  min-width: 480px;
}

.tabela-clientes th,
.tabela-clientes td {
  border: 1px solid #ccc;
  padding: 10px 15px;
  text-align: left;
}

/* Coluna de ID */
.tabela-clientes td:first-child,
.tabela-clientes th:first-child {
  text-align: center;
  width: 60px;
}


.tabela-clientes th {
  background-color: #eaeaea;
  font-weight: bold;
}

.tabela-clientes tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabela-clientes tr:hover {
  background-color: #f1f1f1;
}
